/* CSS Document */

#footer
{
	width:				990px;
	height:				70px;
	float:				left;
	margin-left:		0px;
}

.element_footer_gauche_1 
{
	width:				25px;
	height:				70px;
	float:				left;
	background-image:url(../../images/foot_color_template/rouge/footer_left_rouge.png);
}
	
.element_footer_center_1
{
	width:				815px;
	height:				70px;
	float:				left;
	background-color: 	#1c9bd3;
	text-align: 		center;
	line-height: 		50px;
	font-weight:		bold;
	color:				#fff;
	background-image:url(../../images/foot_color_template/rouge/footer_middle_rouge.png);
	background-repeat:repeat-x;
}
		
.element_footer_center_1 a
{
	color:			#3c3c3c;
	text-transform:	uppercase;
	text-decoration: none;
}


.element_footer_droite_1
{
	width:				150px;
	height:				70px;
	float:				right;
	background-image: url(../../images/foot_color_template/rouge/footer_right_rouge.png);
}


.element_menu_gauche
{
width:				10px;
height:				50px;
float:				left;
background-image: 	url(../../images/menu_color/rouge/menu_left_rouge.png);
}

.element_menu_center
{
width:				970px;
height:				50px;
float:				left;
background-image: 	url(../../images/menu_color/rouge/menu_middle_rouge.png);
background-repeat:repeat-x;
}

.element_menu_droite
{
width:				10px;
height:				50px;
float:				right;
background-image: 	url(../../images/menu_color/rouge/menu_right_rouge.png);
}

button.actionNouvelEmploye
{
	background-image:				url(../../images/bouton_color_template/rouge/buttonNouvel_rouge.png); 
	background-repeat: 				no-repeat; 
	width: 							231px; 
	height: 						46px;
	color:							#FFFFFF;
	font-weight:					bold;
	font-style:						italic;
}

button.actionNouvelEmploye:hover
{
	background-image:				url(../../images/bouton_color_template/rouge/buttonNouvel_rouge_hover.png); 
	background-repeat: 				no-repeat; 
	width: 							233px; 
	height: 						49px;
	color:							#FFFFFF;
	font-weight:					bold;
	font-style:						italic;
}


.menu_style:hover
{
	background-color: 		#ec767a;
	color:					#480002;
}


td.administration_title, div.administration_title
{
	width:				auto;
	height:				16px;
	font-size:			14px;
	border-bottom:		solid 1px #dc1c17;
	font-weight:		bold;
	font-style:			italic;
	text-transform:		uppercase;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #dc1c17; text-decoration: none; }

/**
	Styles des différents textes.
**/
.Titre_page
{
	border-bottom: 		2px solid #dc1c17;
	color: 				#dc1c17;
}

.PageSpanTitle
{
	color: 				#dc1c17;
}

.TitreRubrique
{
	color: 				#dc1c17;
}
.cadre_edit
{
	border: 1px solid #dc1c17;	
}
.texte_alerte
{
	color:				#dc1c17;
}
.search
{
	border:			1px solid #dc1c17;
}
.logo_enterprise_header
{
	border:			1px solid #dc1c17;
}

/** Redéfinition des styles colorés pour le reste du site Internet. **/
.form_administration input, textarea, select 
{
    border: 1px solid #dc1c17 !important;
}
.HomeBlocGauche .cadre_bleu, .HomeBlocDroite .cadre_bleu {
    border: 1px solid #dc1c17;
}
ul.my_account li a {
    color: #dc1c17;
}
.HomeBlocGauche span {
    color: #dc1c17;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #dc1c17;
}
.titre_haut_page
{
	color: #dc1c17;
}
.fond_rayure .title {
    color: #dc1c17;
}